.body {
  font-family: "Ubuntu", sans-serif;
}
.btn:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}
.btn-primary {
  box-shadow: none !important;
  background-color: "#46C351";
  border: none;
}
.btn-primary:hover {
  background-color: hsl(125, 51%, 32%) !important;
}
.navbar-toggler:focus {
  outline: none !important;
  outline-offset: none !important;
  box-shadow: none;
}
.navbar-toggler {
  box-shadow: none !important;
}
.modal-content {
  border: none !important;
}
